{% extends 'base.html.twig' %}

{% block title %}Liste des jeux{% endblock %}

{% block body %}
    <div class="row block-add-game-button" >
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <a class="add-game-button btn-secondary form-control" href="{{ path("add_game") }}"> Ajoute un jeu</a>
        </div>
        <div class="col-md-4"></div>
    </div>
    {%  if gameList is not empty %}
        {% for game in gameList  %}
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 game-description">
        <h2 class="game-name">{{ game.name|title }}</h2>
        {%  if (game.imageLink)== NULL %}
            <img src="{{ asset('uploads/gamesImages/default.jpg') }}" class="game-image">
        {%  else %}
            <img src="{{ asset(game.imageLink) }}" class="game-image">
        {% endif %}
        <h3 class="release-year">{{ game.year }}</h3>
        <h3 class="game-hardware">{{ game.hardware }}</h3>
    </div>
    <div class="col-md-2"></div>
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4 button-center" >
            <a href="{{ path('remove_game',{'idGame' : game.id}) }}" class="form-control btn-secondary button-remove-game">Effacer</a>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>
        {% endfor %}
    {%  endif %}
{% endblock %}
